[Unit]
Description=Bitwarden Service

[Service]
WorkingDirectory=/var/services/homes/jcouyang/Apps/BitWarden
ExecStart=/var/services/homes/jcouyang/Apps/BitWarden/vaultwarden

[Install]
WantedBy=multi-user.target