# This is a GitHub Actions workflow file.
name: Build

event:
  on:
    push:
      branches:
        - main
        - "!refs/tags/*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Nix
        uses: cachix/install-nix-action@v27

      - name: Build
        run: | 
          # Your build commands here

      - name: Cachix
        uses: cachix/cachix-action@v15
        with:
          name: my-cache
